<html>
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>Model</td><td>Term</td><td>Estimate</td><td>Lower 95% CI</td><td>Upper 95% CI</td><td>Rhat</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>Terrestrial global change drivers across databases and the world</td><td>b_intercept</td><td>0.518</td><td>0.507</td><td>0.528</td><td>1.002</td></tr>
<tr><td style="text-align:left">2</td><td></td><td>b_samplinglivingplanet</td><td>0.070</td><td>0.058</td><td>0.081</td><td>1.001</td></tr>
<tr><td style="text-align:left">3</td><td></td><td>b_samplingbiotime</td><td>-0.144</td><td>-0.157</td><td>-0.131</td><td>1.002</td></tr>
<tr><td style="text-align:left">4</td><td></td><td>b_samplingpredicts</td><td>-0.024</td><td>-0.038</td><td>-0.010</td><td>1.001</td></tr>
<tr><td style="text-align:left">5</td><td></td><td>b_drivercumulative</td><td>-0.109</td><td>-0.123</td><td>-0.094</td><td>1.002</td></tr>
<tr><td style="text-align:left">6</td><td></td><td>b_driverhuman_population</td><td>-0.379</td><td>-0.393</td><td>-0.365</td><td>1.002</td></tr>
<tr><td style="text-align:left">7</td><td></td><td>b_driverhuman_use</td><td>-0.113</td><td>-0.127</td><td>-0.098</td><td>1.001</td></tr>
<tr><td style="text-align:left">8</td><td></td><td>b_driverinvasions</td><td>-0.350</td><td>-0.365</td><td>-0.336</td><td>1.001</td></tr>
<tr><td style="text-align:left">9</td><td></td><td>b_driverpollution</td><td>-0.290</td><td>-0.305</td><td>-0.276</td><td>1.001</td></tr>
<tr><td style="text-align:left">10</td><td></td><td>b_samplinglivingplanet.drivercumulative</td><td>0.072</td><td>0.056</td><td>0.089</td><td>1.001</td></tr>
<tr><td style="text-align:left">11</td><td></td><td>b_samplingbiotime.drivercumulative</td><td>0.391</td><td>0.372</td><td>0.409</td><td>1.002</td></tr>
<tr><td style="text-align:left">12</td><td></td><td>b_samplingpredicts.drivercumulative</td><td>0.199</td><td>0.179</td><td>0.218</td><td>1.001</td></tr>
<tr><td style="text-align:left">13</td><td></td><td>b_samplinglivingplanet.driverhuman_population</td><td>0.298</td><td>0.282</td><td>0.315</td><td>1.001</td></tr>
<tr><td style="text-align:left">14</td><td></td><td>b_samplingbiotime.driverhuman_population</td><td>0.723</td><td>0.706</td><td>0.742</td><td>1.002</td></tr>
<tr><td style="text-align:left">15</td><td></td><td>b_samplingpredicts.driverhuman_population</td><td>0.568</td><td>0.549</td><td>0.588</td><td>1.001</td></tr>
<tr><td style="text-align:left">16</td><td></td><td>b_samplinglivingplanet.driverhuman_use</td><td>-0.061</td><td>-0.077</td><td>-0.044</td><td>1.001</td></tr>
<tr><td style="text-align:left">17</td><td></td><td>b_samplingbiotime.driverhuman_use</td><td>0.328</td><td>0.311</td><td>0.347</td><td>1.001</td></tr>
<tr><td style="text-align:left">18</td><td></td><td>b_samplingpredicts.driverhuman_use</td><td>0.198</td><td>0.179</td><td>0.219</td><td>1.001</td></tr>
<tr><td style="text-align:left">19</td><td></td><td>b_samplinglivingplanet.driverinvasions</td><td>0.362</td><td>0.345</td><td>0.378</td><td>1.001</td></tr>
<tr><td style="text-align:left">20</td><td></td><td>b_samplingbiotime.driverinvasions</td><td>0.787</td><td>0.767</td><td>0.805</td><td>1.002</td></tr>
<tr><td style="text-align:left">21</td><td></td><td>b_samplingpredicts.driverinvasions</td><td>0.551</td><td>0.531</td><td>0.571</td><td>1.000</td></tr>
<tr><td style="text-align:left">22</td><td></td><td>b_samplinglivingplanet.driverpollution</td><td>0.219</td><td>0.204</td><td>0.236</td><td>1.000</td></tr>
<tr><td style="text-align:left">23</td><td></td><td>b_samplingbiotime.driverpollution</td><td>0.675</td><td>0.657</td><td>0.693</td><td>1.001</td></tr>
<tr><td style="text-align:left">24</td><td></td><td>b_samplingpredicts.driverpollution</td><td>0.432</td><td>0.413</td><td>0.453</td><td>1.000</td></tr>
<tr><td style="text-align:left">25</td><td></td><td>sigma</td><td>0.231</td><td>0.230</td><td>0.232</td><td>1.000</td></tr>
<tr><td style="text-align:left">26</td><td>Marine global change drivers across databases and the world</td><td>b_intercept</td><td>0.484</td><td>0.460</td><td>0.507</td><td>1.000</td></tr>
<tr><td style="text-align:left">27</td><td></td><td>b_samplinglivingplanet</td><td>0.002</td><td>-0.024</td><td>0.027</td><td>1.000</td></tr>
<tr><td style="text-align:left">28</td><td></td><td>b_samplingbiotime</td><td>0.013</td><td>-0.010</td><td>0.037</td><td>1.000</td></tr>
<tr><td style="text-align:left">29</td><td></td><td>b_drivercumulative</td><td>-0.030</td><td>-0.064</td><td>0.004</td><td>1.001</td></tr>
<tr><td style="text-align:left">30</td><td></td><td>b_driverhuman_population</td><td>-0.194</td><td>-0.226</td><td>-0.157</td><td>1.001</td></tr>
<tr><td style="text-align:left">31</td><td></td><td>b_driverhuman_use</td><td>-0.110</td><td>-0.144</td><td>-0.076</td><td>1.000</td></tr>
<tr><td style="text-align:left">32</td><td></td><td>b_driverinvasions</td><td>-0.133</td><td>-0.168</td><td>-0.101</td><td>1.000</td></tr>
<tr><td style="text-align:left">33</td><td></td><td>b_driverpollution</td><td>-0.155</td><td>-0.188</td><td>-0.121</td><td>1.000</td></tr>
<tr><td style="text-align:left">34</td><td></td><td>b_samplinglivingplanet.drivercumulative</td><td>0.121</td><td>0.085</td><td>0.160</td><td>1.001</td></tr>
<tr><td style="text-align:left">35</td><td></td><td>b_samplingbiotime.drivercumulative</td><td>0.107</td><td>0.073</td><td>0.141</td><td>1.001</td></tr>
<tr><td style="text-align:left">36</td><td></td><td>b_samplinglivingplanet.driverhuman_population</td><td>0.158</td><td>0.123</td><td>0.196</td><td>1.001</td></tr>
<tr><td style="text-align:left">37</td><td></td><td>b_samplingbiotime.driverhuman_population</td><td>0.006</td><td>-0.028</td><td>0.041</td><td>1.001</td></tr>
<tr><td style="text-align:left">38</td><td></td><td>b_samplinglivingplanet.driverhuman_use</td><td>0.212</td><td>0.175</td><td>0.248</td><td>1.001</td></tr>
<tr><td style="text-align:left">39</td><td></td><td>b_samplingbiotime.driverhuman_use</td><td>0.228</td><td>0.194</td><td>0.262</td><td>1.000</td></tr>
<tr><td style="text-align:left">40</td><td></td><td>b_samplinglivingplanet.driverinvasions</td><td>0.201</td><td>0.165</td><td>0.236</td><td>1.000</td></tr>
<tr><td style="text-align:left">41</td><td></td><td>b_samplingbiotime.driverinvasions</td><td>0.134</td><td>0.100</td><td>0.168</td><td>1.000</td></tr>
<tr><td style="text-align:left">42</td><td></td><td>b_samplinglivingplanet.driverpollution</td><td>0.192</td><td>0.156</td><td>0.229</td><td>1.000</td></tr>
<tr><td style="text-align:left">43</td><td></td><td>b_samplingbiotime.driverpollution</td><td>0.166</td><td>0.132</td><td>0.199</td><td>1.000</td></tr>
<tr><td style="text-align:left">44</td><td></td><td>sigma</td><td>0.274</td><td>0.273</td><td>0.274</td><td>1.000</td></tr>
<tr><td style="text-align:left">45</td><td>Terrestrial temperature change (Living Planet Database)</td><td>b_intercept</td><td>0.011</td><td>0.009</td><td>0.013</td><td>1.000</td></tr>
<tr><td style="text-align:left">46</td><td></td><td>b_periodduringmonitoring</td><td>0.017</td><td>0.015</td><td>0.020</td><td>1.000</td></tr>
<tr><td style="text-align:left">47</td><td></td><td>sigma</td><td>0.080</td><td>0.080</td><td>0.081</td><td>1.000</td></tr>
<tr><td style="text-align:left">48</td><td>Marine temperature change (Living Planet Database)</td><td>b_intercept</td><td>0.004</td><td>0.001</td><td>0.007</td><td>1.000</td></tr>
<tr><td style="text-align:left">49</td><td></td><td>b_periodduringmonitoring</td><td>0.013</td><td>0.009</td><td>0.017</td><td>1.000</td></tr>
<tr><td style="text-align:left">50</td><td></td><td>sigma</td><td>0.050</td><td>0.048</td><td>0.051</td><td>1.000</td></tr>
<tr><td style="text-align:left">51</td><td>Terrestrial temperature change (BioTIME)</td><td>b_intercept</td><td>0.027</td><td>0.024</td><td>0.031</td><td>1.000</td></tr>
<tr><td style="text-align:left">52</td><td></td><td>b_periodduringmonitoring</td><td>-0.011</td><td>-0.017</td><td>-0.007</td><td>1.000</td></tr>
<tr><td style="text-align:left">53</td><td></td><td>sigma</td><td>0.104</td><td>0.102</td><td>0.105</td><td>1.000</td></tr>
<tr><td style="text-align:left">54</td><td>Marine temperature change (BioTIME)</td><td>b_intercept</td><td>0.010</td><td>0.009</td><td>0.012</td><td>1.000</td></tr>
<tr><td style="text-align:left">55</td><td></td><td>b_periodduringmonitoring</td><td>0.008</td><td>0.007</td><td>0.010</td><td>1.000</td></tr>
<tr><td style="text-align:left">56</td><td></td><td>sigma</td><td>0.058</td><td>0.057</td><td>0.058</td><td>1.000</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr></table>
</html>
