<html>
<table style="text-align:center"><tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>type</td><td>realm</td><td>factor(taxa)</td><td>n</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>Biodiversity</td><td>2</td><td>8</td><td>9438</td></tr>
<tr><td style="text-align:left">2</td><td>Biodiversity</td><td>2</td><td>9</td><td>24297</td></tr>
<tr><td style="text-align:left">3</td><td>Biodiversity</td><td>2</td><td>10</td><td>480</td></tr>
<tr><td style="text-align:left">4</td><td>Biodiversity</td><td>2</td><td>12</td><td>2044</td></tr>
<tr><td style="text-align:left">5</td><td>Biodiversity</td><td>2</td><td>13</td><td>4383</td></tr>
<tr><td style="text-align:left">6</td><td>Biodiversity</td><td>2</td><td>14</td><td>1538</td></tr>
<tr><td style="text-align:left">7</td><td>Biodiversity</td><td>2</td><td>15</td><td>161</td></tr>
<tr><td style="text-align:left">8</td><td>Biodiversity</td><td>3</td><td>7</td><td>177</td></tr>
<tr><td style="text-align:left">9</td><td>Biodiversity</td><td>3</td><td>8</td><td>1600</td></tr>
<tr><td style="text-align:left">10</td><td>Biodiversity</td><td>3</td><td>10</td><td>40</td></tr>
<tr><td style="text-align:left">11</td><td>Biodiversity</td><td>3</td><td>11</td><td>71</td></tr>
<tr><td style="text-align:left">12</td><td>Biodiversity</td><td>3</td><td>14</td><td>30</td></tr>
<tr><td style="text-align:left">13</td><td>Biodiversity</td><td>3</td><td>16</td><td>273</td></tr>
<tr><td style="text-align:left">14</td><td>Population</td><td>2</td><td>1</td><td>1120</td></tr>
<tr><td style="text-align:left">15</td><td>Population</td><td>2</td><td>3</td><td>1001</td></tr>
<tr><td style="text-align:left">16</td><td>Population</td><td>2</td><td>4</td><td>131</td></tr>
<tr><td style="text-align:left">17</td><td>Population</td><td>2</td><td>5</td><td>289</td></tr>
<tr><td style="text-align:left">18</td><td>Population</td><td>2</td><td>6</td><td>160</td></tr>
<tr><td style="text-align:left">19</td><td>Population</td><td>3</td><td>2</td><td>46</td></tr>
<tr><td style="text-align:left">20</td><td>Population</td><td>3</td><td>3</td><td>3447</td></tr>
<tr><td style="text-align:left">21</td><td>Population</td><td>3</td><td>5</td><td>1036</td></tr>
<tr><td style="text-align:left">22</td><td>Population</td><td>3</td><td>6</td><td>111</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr></table>
</html>
